@import "../../common/styles/variables.scss";

.ant-btn:hover,
.ant-btn:focus {
  color: $dark-gray;
  border-color: $light-gray;
}

.ant-select-selector {
  height: 100%;
  border-radius: $filter-control/2 !important;
  min-width: 150px;
}

.ant-select:not(.ant-select-disabled):hover .ant-select-selector {
  border-color: $light-gray;
}

.ant-select-focused:not(.ant-select-disabled).ant-select:not(.ant-select-customize-input)
  .ant-select-selector {
  border-color: $light-gray;
  outline: none;
  box-shadow: none;
}

.ant-select-item-option-selected:not(.ant-select-item-option-disabled) {
  background-color: $light-pink;
}

.anticon-check {
  color: $dark-pink;
}

.ant-select-selection-placeholder {
  color: $dark-gray;
}

.ant-select-selector {
  width: 100%;
}
